<footer class="footer mt-auto py-3  mt-auto"   style="background-color: #132a3e">
    <div class="container text-center">
      <div class="row" style="color:whitesmoke"> 
        <div class="col text-start">
          <b>TruthTide</b>
          <div></div>
          <small>Empowering users to detect fake news collaboratively.</small>
        </div>
        <div class="col text-start">
          <b>Quick Links</b>
          <div>
            <a><small>About Us</small></a>
          </div>
          <div>
            <a><small>FAQ</small></a>
          </div>
          <div>
            <a><small>Contact</small></a>
          </div>
  
        </div>
        <div class="col text-start">
          <b>Follow Us</b>
          <div><i class="fab fa-twitter"></i>&nbsp;&nbsp;
            <i class="fab fa-facebook"></i>&nbsp;&nbsp;
            <i class="fab fa-instagram"></i>
          </div>
        </div>
      </div>
      <br>
        <span class="text " style="color:whitesmoke">&#64;{{currentYear}} TruthTide. All rights reserved.</span>
      </div>
    </footer>